{% extends "base.html" %}
{% load static %}


{% block title %}
КиноМир - {{ serial.title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'serials/css/serial-detail.css' %}">
{% endblock %}

{% block content %}
<section class="serial-detail">
    <div class="serial-detail-poster">
        <img src="{{ serial.poster.url }}" alt="Постер фильма {{ serial.title }}">
        <div class="serial-detail-poster-info">
            <h1>{{ serial.title }}</h1>
            <p>{{ serial.year }} | {{ serial.get_season_count }} | {{ serial.country }} | {{ serial.age_limit }}+</p>
        </div>
    </div>

    <div class="serial-detail-description">
        <h2>Описание</h2>
        <p>{{ serial.description }}</p>
    </div>

    {% if serial_participants %}
    <div class="serial-detail-participants">
        <h2>Актёры и съёмочная группа</h2>

        <div class="serial-detail-participant">
            {% for participant in serial_participants %}
            <div class="serial-detail-participant-inner">
                {% if participant.person.photo %}
                <div class="serial-detail-person-photo-container">
                    <img src="{{ participant.person.photo.url }}" alt="Фото {{ participant.person.first_name }} {{ participant.person.last_name }}">
                </div>

                {% else %}
                <div class="serial-detail-person-photo-container">
                    <img src="{% static 'img/anonim-photo.png' %}" alt="Актер без фото">
                </div>
                {% endif %}
                <div class="serial-detail-person-info">
                    <h3>{{ participant.person.first_name }} {{ participant.person.last_name }}</h3>
                    <p>{{ participant.get_role_display }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="serial-detail-detail">
        <h2>Детали</h2>
        <p>Жанры:

            {% for genre in serial.genres.all %}
                <span class="serial-detail-genre">{{ genre.title }}</span>{% if not forloop.last %}, {% endif %}
            {% endfor %}

        </p>
    </div>
</section>
{% endblock %}
