<footer>
    <div>
        <h2>Разделы</h2>
        <a href="{% url 'movies:movies-list' %}">Фильмы</a>
        <a href="{% url 'serials:serials-list' %}">Сериалы</a>
    </div>
    <div>
        <h2>Помощь</h2>
        <a href="#">Справка</a>
        <a href="{% url 'core:feedback' %}">Отправить обращение</a>
        <a href="#">Пользовательское соглашение</a>
        <a href="#">Политика конфиденциальности</a>
        <a href="#">Политика обработки файлов cookie</a>
        <a href="tel:+79644102006">7 964 410-20-06</a>
        <a href="mailto:wf.denis.tokarev@gmail.com">wf.denis.tokarev@gmail.com</a>
    </div>
    <div>
        <h2>О нас</h2>
        <a href="#">О компании</a>
        <a href="#">Вакансии</a>
        <a href="#">Размещение рекламы</a>
    </div>
    <div>
        <h2>Подписывайся</h2>
        <a href="https://vk.com/prsvt420">VK</a>
        <a href="https://t.me/prsvt420">Telegram</a>
    </div>
</footer>