.serial-detail {
    margin-top: 10px;
    width: var(--base-width);
    color: var(--base-font-color);
    margin-bottom: 50px;
}

.serial-detail-poster {
    display: flex;
    align-items: center;
}

.serial-detail-poster img {
    border-radius: var(--border-radius);
    width: 300px;
    height: 450px;
}

.serial-detail-poster-info {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.serial-detail-poster-info h1 {
    font-size: 2rem;
    font-weight: bold;
}

.serial-detail-description,
.serial-detail-participants,
.serial-detail-detail {
    margin-top: 50px;
}

.serial-detail-description h2,
.serial-detail-participants h2,
.serial-detail-detail h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.serial-detail-description p,
.serial-detail-participants p,
.serial-detail-detail p {
    font-size: 1.1rem;
    color: var(--third-color);
}

.serial-detail-person-info h3,
.serial-detail-person-info p {
    text-align: center;
}


.serial-detail-participant {
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.serial-detail-participant img {
    width: 80px;
}

.serial-detail-participant-inner {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.serial-detail-person-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serial-detail-person-photo-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serial-detail-person-photo-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.serial-detail-genre {
    color: var(--third-color);
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .serial-detail-participant {
        grid-template-columns: repeat(5, minmax(100px, 1fr));
    }
}

@media screen and (max-width: 880px) {
    .serial-detail-participant {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
    
}


@media screen and (max-width: 750px) {
    .serial-detail-poster {
        flex-direction: column;
        gap: 20px;
    }

    .serial-detail-poster-info {
        margin-left: 0;
    }

    .serial-detail-participant {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}
